@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: normal;
	src: local('Merriweather Regular'), local('Merriweather-Regular'), url('merriweather.woff2');
}
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: normal;
	src: local('Merriweather Italic'), local('Merriweather-Italic'), url('merriweather-italic.woff2');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: bold;
	src: local('Merriweather Bold'), local('Merriweather-Bold'), url('merriweather-bold.woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	src: local('Roboto Regular'), local('Roboto-Regular'), url('roboto.woff2');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url('montserrat.woff2');
}
@font-face {
	font-family: 'Oxygen Mono';
	font-style: normal;
	font-weight: normal;
	src: local('Oxygen Mono'), local('Oxygen-Mono'), url('oxygen-mono.woff2');
}
