article form {
  padding: 1em 2em;
  width: 100%;
  box-sizing: border-box;
}
article form div {
  display: flex;
  flex-wrap: wrap;
}
article form label, article form input {
  margin-bottom: 10px;
}
article form label {
  width: 10em;
  text-align: left;
}
textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 14px;
}
article form div.sumbit {
  margin: auto;
  margin-top: 20px;
  display: block;
}
.secret {
	display: none !important;
}
