@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
article {
  background: #FCE4DE;
  padding: 3em 3.5em;
  margin-bottom: 20px;
  hyphens: auto;
  text-align: justify;
}
header {
  margin-bottom: 1em;
}
a[href] {
  color: #8d1e9e;
}
a:visited {
  color: #941c63;
}
h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  text-decoration: none !important;
}
h1 > a {
  color: black!important;
  text-decoration: none;
}
h1 > a:hover {
  text-decoration: underline;
}
time {
  color: #444444;
  font-family: "Montserrat";
}
html {
  color: black;
  background: #80283f;
  font-family: "Merriweather", serif;
  line-height: 1.5;
  font-size: 14px;
}
main {
  max-width: 45em;
  margin: auto;
}
nav {
  background: #e8B8ae;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 0px 10px;
}
nav ul li a, nav ul li .navbar-item {
  padding: 15px;
  display: block;
  text-decoration: none;
}
nav ul li a:hover {
  background: #cc968b70;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown > span::after {
  content: "🞀";
  display: inline-block;
  width: 10px;
  padding-left: 5px;
}
.dropdown > span:hover::after {
  content: "🞃";
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8B8ae;
  min-width: 8rem;
  right: 0;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
