/* General element styling */
article {
	background: #FCE4DE;
	padding: 3em 3.5em;
	margin-bottom: 20px;
	hyphens: auto;
	text-align: justify;
}
header {
	margin-bottom: 1em;
}
a[href] {
	color: #8d1e9e;
}
a:visited {
	color: #941c63;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "Roboto", sans-serif;
	text-decoration: none !important;
}
h1 {
	font-size: xx-large;
}
h2 {
	font-size: x-large;
}
h3 {
	font-size: large;
}
h1 > a {
	color: black!important;
	text-decoration: none;
}
h1 > a:hover {
	text-decoration: underline;
}
time {
	color: #444444;
	font-family: "Montserrat";
}
html {
	color: black;
	background: #80283f;
	font-family: "Merriweather", serif;
	line-height: 1.5;
	font-size: 14px;
}
main {
	max-width: 45em;
	margin: auto;
}
#unpublished {
	color: #666;
	font-style: italic;
}
table {
	border: 1px solid;
	border-collapse: collapse;
}
th, td {
	border: 1px solid;
	padding: 5px;
}
pre {
	background: #e4cfc9;
	margin: 1em;
	padding: 12px;
	overflow-x: auto;
}
code {
	font-family: "Oxygen Mono";
}
.footnotes {
	font-size: small;
}
blockquote {
	border-left: 2px solid gray;
	margin-left: 1em;
	padding-left: 12px;
	color: darkslategray;
}
article img {
	max-width: 95%;
	max-height: 360px;
	display: block;
	margin: auto;
}
hr {
	margin: 10px;
}

/* logo */
.logo {
	font-size: 50px;
	font-weight: bold;
	vertical-align: middle;
	margin: 2rem 0;
}
.logo span {
	display: inline-block;
	vertical-align: middle;
}
.logo img {
	vertical-align: middle;
}

/* nav bar */
nav {
	background: #e8B8ae;
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
nav ul {
	font-family: "Roboto", sans-serif;
	font-size: larger;
	list-style-type: none;
	display: inline-flex;
	padding: 0;
	margin: 0px 10px;
}
nav ul li a, nav ul li .navbar-item {
	padding: 15px;
	display: block;
	text-decoration: none;
}
nav ul li a:hover {
	background: #cc968b70;
}
/* Dropdown menu */
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown > span::after {
	content: "🞀";
	display: inline-block;
	width: 10px;
	padding-left: 5px;
}
.dropdown > span:hover::after {
	content: "🞃";
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #e8B8ae;
	min-width: 8rem;
	right: 0;
	z-index: 1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
footer.notice {
	background: #e8b8ae;
	padding: 2em;
	font-size: smaller;
	margin-top: 20px;
}

/* Link list */
ul.links {
	list-style: none;
	display: block;
	margin: 10px 0;
	padding: 0;
}
ul.links li {
	display: inline-block;
	padding: 0 5px;
	font-family: "Roboto";
	font-weight: bold
}
ul.links a {
	color: #666;
	text-decoration: none;
}
ul.links a:hover {
	text-decoration: underline;
}

/* Link-like buttons */
button.link-like {
	background: none;
	border: none;
	color: #666;
	font-weight: bold;
	cursor: pointer;
}
button.link-like:hover {
	text-decoration: underline
}

/* Default form element styling */
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
	height: 22px;
	width: 192px;
	background: white;
	border: 1px #cfd6e6 solid;
	padding: 2px 8px;
	border-radius: 3px;
}
input:focus {
	border-color: #8d1e9e;
	box-shadow: none;
}
form.validate input:invalid:not(:placeholder-shown) {
	background: white no-repeat right 5px center / 20px url("/file/warning.svg");
	border-color: red;
	box-shadow: none;
}
form.validate input:invalid:not(:placeholder-shown):not(:focus) {
	box-shadow: 0 0 3px red;
}

.error {
	color: #F00;
}

/* media queries for smaller screens */
@media (max-width: 510px) {
	article {
		padding: 2em;
	}
	.logo img {
		width: 80px;
		height: 80px;
	}
	.logo {
		font-size: 40px;
	}
}
@media (max-width: 415px) {
	.logo img {
		width: 50px;
		height: 50px;
	}
	.logo {
		font-size: 35px;
	}
}
