{% extends "root.html" %}

{% block title %}Amanda's blog - {{ article.title|e }}{% endblock %}

{% block head %}
	<link href="/file/comment.css" rel="stylesheet" type="text/css">
	<meta property="og:title" content="{{ article.title }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="https://amandag.net/article/{{ article.id }}"/>
	{# TODO: Add image tag #}
	<meta property="og:description" content="{{ article.description() }}…"/>
	<meta property="og:site_name" content="Amanda's blog"/>

	<meta property="article:author" content="{{ author_name }}">
	<meta property="article:published_time" content="{{ article.date.format("%Y-%m-%dT%H:%M:%SZ") }}">
	{# TODO: add categories #}

	<script src="/file/article.js" async></script>
{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>{{ article.title|escape }}</h1>
			<time title="{{ article.date.format("%c") }}" datetime="{{ article.date.format("%F %T") }}">
				{{ article.date.format("%d %b %Y - %H:%M") }}
			</time>
		</header>
		{% if article.editable(session, connection).unwrap_or(false) -%}
			<p class="edit"><a href="/edit/{{ article.id }}">Edit this article</a></p>
		{% endif %}
		{% if !article.visible -%}
			<p id="unpublished">This article has not been published.</p>
		{% endif %}
		{{ article.formatted() }}
	</article>

	<form class="comment" id="new-comment">
		<h1>Write a comment</h1>
		<input type="hidden" name="article" data-type="int" value="{{ article.id }}">
		<input type="hidden" name="visible" data-type="bool" value="true">
		<div class="error"></div>
		{% match session -%}
		{%- when Some with (session) -%}
			<input type="hidden" name="author" value="{{ session.user }}">
		{% when None -%}
			<label>Name: <input type="text" name="name" required></label>
		{%- endmatch %}
		<textarea name="content"></textarea>
		<button type="button" data-action="submit">Submit</button>
	</form>

	{% for tree in comments %}
		{{ tree.render().unwrap() }}
	{% endfor %}
{% endblock %}
