<div class="comment" data-id="{{ comment.id }}">
	<header>
		{% match comment.author -%}
		{% when Some with (author) -%}
			<span class="name">
				<a href="/user/{{ author }}">{{ comment.author(connection).unwrap_or_default() }}</a>
			</span>
		{% when None %}
			<span class="name">{{ comment.name.as_ref().unwrap() }}</span>
		{% endmatch %}
		<time title="{{ comment.date.format("%c") }}" datetime="{{ comment.date.format("%F %T") }}">{{ comment.date.format("%d %b %Y %H:%M") }}</time>
	</header>
	<div class="body">
		{% if comment.visible -%}
			{{ comment.formatted()|safe }}
		{%- else -%}
			[deleted]
		{%- endif %}
	</div>
	<form class="comment edit">
		<input type="hidden" name="visible" data-type="bool" value="true">
		<div class="error"></div>
		<textarea name="content"></textarea>
		<button type="button" data-action="save">Save</button>
		<button type="button" data-action="cancel">Cancel</button>
	</form>
	<ul class="links">
		{% if can_comment %}
		<li><button class="link-like" data-action="reply">reply</button></li>
		{% endif %}
		{% if comment.editable(session, connection).unwrap_or(false) %}
			<li><button class="link-like" data-action="edit">edit</button></li>
			<li><button class="link-like" data-action="remove">remove</button></li>
		{% endif -%}
		{% match session %}
		{% when Some with (session) -%}
			{% if session.allowed(Permission::DeleteForeignComment, connection).unwrap_or(false) -%}
				<li><button class="link-like" data-action="purge">purge</button></li>
			{% endif -%}
		{% when None -%}
		{% endmatch %}
	</ul>

	<form class="comment reply">
		<input type="hidden" name="article" data-type="int" value="{{ comment.article }}">
		<input type="hidden" name="visible" data-type="bool" value="true">
		<input type="hidden" name="parent" data-type="int" value="{{ comment.id }}">
		<div class="error"></div>
		{% match session -%}
		{%- when Some with (session) -%}
			<input type="hidden" name="author" value="{{ session.user }}">
		{%- when None -%}
			<label>Name: <input type="text" name="name" required></label>
		{%- endmatch %}
		<textarea name="content"></textarea>
		<button type="button" data-action="submit">Submit</button>
		<button type="button" data-action="cancel">Cancel</button>
	</form>

	{% for child in children %}
		{{ child.render().unwrap()|safe }}
	{% endfor %}
</div>
