{% extends "root.html" %}
{% block head %}
	<link href="/feed.rss" type="application/rss+xml" rel="alternate" title="RSS feed">
{% endblock %}

{% block content %}
	{% if articles.is_empty() %}
		<article>
			No articles yet.
			{% match session %}
			{% when Some with (session) %}
				{% if session.allowed(Permission::CreateArticle, connection).unwrap_or(false) %}
					<p><a href="/edit">Write a new one?</a>
				{% endif %}
			{% when None %}
			{% endmatch %}
		</article>
	{% endif %}
	{% for article in articles %}
		{% if article.viewable(session, connection).unwrap_or(false) %}
		<article>
			<header>
				<h1><a href="/article/{{ article.url }}">{{ article.title }}</a></h1>
				<time title="{{ article.date.format("%c") }}" datetime="{{ article.date.format("%F %T") }}">
					{{ article.date.format("%d %b %Y - %H:%M") }}
				</time>
			</header>
			{% if article.editable(session, connection).unwrap_or(false) -%}
				<p class="edit"><a href="/edit/{{ article.id }}">Edit this article</a></p>
			{% endif %}
			{% if !article.visible -%}
				<p id="unpublished">This article has not been published.</p>
			{% endif %}
			{{ article.preview()|safe }}

			<p><a href="/article/{{ article.url }}">Read more ({{ article.comment_count(connection).unwrap_or_default() }} comments)</a></p>
		</article>
		{% endif %}
	{% endfor %}
	<nav class="page">
		{% if page > 1 %}
			<a id="page-back" rel="prev" href="/page/{{ page - 1 }}">Previous</a>
		{% endif %}
		{% if articles.len() == crate::article::PAGE_LEN %}
			<a id="page-forward" rel="next" href="/page/{{ page + 1 }}">Next</a>
		{% endif %}
	</nav>
{% endblock %}
