{% extends "root.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/file/form.css">
{% endblock head %}

{% block content %}
	<article>
		<header><h1>Create an admin user</h1></header>

		This appears to be the first time you're using this site. Please create an admin user.
		<form method="post">
			<div>
				<label for="user">Username: </label>
				<input type="text" name="id" id="user" required>
			</div>
			<div>
				<label for="password">Password: </label>
				<input type="password" name="password" id="password" required>
			</div>
			<div>
				<label for="email">E-mail address: </label>
				<input type="email" name="email" id="email" required>
			</div>
			<div>
				<label for="display-name">Display name: </label>
				<input type="text" name="name" id="display-name" required>
			</div>

			<input type="hidden" name="group" value="admin">

			<div class="submit">
				<input type="submit">
			</div>
		</form>
	</article>
{% endblock %}
