<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<title>{% block title %}Amanda's blog{% endblock %}</title>

	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
	<link href="/file/style.css" rel="stylesheet" type="text/css">
	{% block head %}{% endblock %}
</head>
<body>
	<main>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
			<ul>
			{% match session %}
			{% when Some with (session) %}
				<li>Welcome, {{ session.user }}</li>
			{% when None %}
				<li><a href="/login">Log in</a></li>
				<li><a>Sign up</a></li>
			{% endmatch %}
			</ul>
		</nav>
		{% block content %}{% endblock %}
	</main>
</body>
</html>
