{% extends "root.html" %}

{% block head %}
	<link href="/file/form.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>Sign up</h1>
		</header>
		<p>Create an account.
		<form method="post">
			<div>
				<label for="user">Username: </label>
				<input type="text" name="id" id="user" required>
			</div>
			<div>
				<label for="password">Password: </label>
				<input type="password" name="password" id="password" required>
			</div>
			<div>
				<label for="email">E-mail address: </label>
				<input type="email" name="email" id="email" required>
			</div>
			<div>
				<label for="display-name">Display name: </label>
				<input type="text" name="name" id="display-name" required>
			</div>
			<div class="secret">
				<label for="secret">Password: </label>
				<input type="password" name="secret" id="secret" tabindex="-1" autocomplete="off">
			</div>

			<div class="submit">
				<input type="submit">
			</div>
		</form>
	</article>
{% endblock %}
