{% extends "root.html" %}

{% block head %}
	<link href="/file/form.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>Sign up</h1>
		</header>
		{% if signup_enabled %}
		<p>Create an account.
		<form method="post" class="validate">
			<div>
				<label for="user">Username: </label>
				<input type="text" name="id" id="user" placeholder="unique-user-name" required>
			</div>
			<div>
				<label for="password">Password: </label>
				<input type="password" name="password" id="password" minlength="8" placeholder="longandsecurepassword" required>
			</div>
			<div>
				<label for="email">E-mail address: </label>
				<input type="email" name="email" id="email" placeholder="address@site.com" required>
			</div>
			<div>
				<label for="display-name">Display name: </label>
				<input type="text" name="name" id="display-name" placeholder="Very Cool Name" required>
			</div>
			<div class="secret">
				<label for="phone">Phone number: </label>
				<input type="tel" name="phone" id="phone" tabindex="-1" autocomplete="off">
			</div>

			<div class="submit">
				<input type="submit">
			</div>
		</form>
		{% else %}
		<p>Account registration is currently disabled.
		{% endif %}
	</article>
{% endblock %}
